@import '../../globalStyles/globalVariabels.scss';


.input-container{
    display: flex;
    flex-direction: column;
    margin: 0.3rem 0;
    &>div{
        justify-content: center;
        text-align: center;
    }

    span{
        text-align: start;
        margin-left: 3.3rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
        font-size: 0.7rem;
    }
    i{
        background: $grey-3;
        color: white;
        padding: 0.4rem 0.5rem;
        margin-right: 0;
        border-radius: $border-radius-md 0 0 $border-radius-md;
    }
    input{
        outline: none;
        padding-right: 0.4rem 0.5rem;
        font-weight: bold;
        height: 1.5rem;
        border-radius: 0 $border-radius-md $border-radius-md 0;
        border-width: 0;
        padding-left: 0.4rem;
        background: $grey-1;
        width: 16rem;
        
    }
}

