@import "../../../style/globalVariabels.scss";

.infoSection {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  @include breaking-point-2 {
    justify-content: center;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  // justify-content: center;
  @include breaking-point-2 {
    grid-template-columns: 1fr 1fr;
  }
  .TextInfo {
    margin: 2rem;
    justify-self: flex-start;
    @include breaking-point-2 {
      p {
        display: flex;
      }
    }
  }

  .Map {
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
    justify-self: flex-end;
  }
}
.AdressField {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  strong {
    margin-left: 1rem;
    margin-right: 0.3rem;
  }
}
