@import "../../../style/globalVariabels.scss";

.location-container {

  .settings{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 0.5rem 0;
        @include breaking-point-1 {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        & > .edit-btn {
          grid-column-start: 1;
          grid-column-end: 3;
          border-radius: 0.5rem;
        }
        & > .cancel-btn {
          transition: color 0.2s, background 0.2s;
          border-radius: 0.5rem 0 0 0.5rem;
        }
        & > .confirm-btn {
          transition: color 0.2s, background 0.2s;
          border-radius: 0 0.5rem 0.5rem 0;
        }
  }

  .location-map {
    object-fit: cover;
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
    @include breaking-point-2 {
      width: 30rem;
      height: 30rem;
    }
  }
  .address-info {
    display: grid;

    @include breaking-point-1 {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
  
      .text-input:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
  
      }
    }


    .settings {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      @include breaking-point-1 {
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;

        & > .edit-btn {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
 
      & > .cancel-btn {
        transition: color 0.2s, background 0.2s;
        border-radius: $border-radius-sm 0 0 $border-radius-sm;
      }
      & > .confirm-btn {
        transition: color 0.2s, background 0.2s;
        border-radius: 0 $border-radius-sm $border-radius-sm 0;
      }
    }

    .title{
      @include breaking-point-1 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      justify-self: center;
    }

  }


  .map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & > *{
      margin: 0.5rem 0;
    }
    .coordinates-input{
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      & > *{
        margin: 0 1rem;
      }
    }
  }
}
