@import "../../../style/globalVariabels.scss";

.all-user-container{

  .search-filters{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    @include mobile{
      grid-template-columns: 1fr 1fr;
      .search-bar, .search-submit-btn{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    }


    .search-submit-btn{
      margin-top: 1rem;
    }
    .date{
      margin-top: 2rem;
      padding: 0;
      &:nth-of-type(1){
        input{
          @include mobile{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
      &:nth-of-type(2){
        input{
          @include mobile{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
  
  .paginated-content-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .pagination-title{
      width: 100%;
    }

  }
}
