@import './globalVariabels.scss';
@import '../components/button/button.scss';
@import '../components//Modal/Modal.scss';
@import '../components//Backdrop/Backdrop.scss';
@import '../components//Sidebar/SideBar.scss';
@import '../layout/Layout.scss';
@import '../components//Sidebar//SideBarItem/SideBarItem.scss';
@import '../components/Form/Form.scss';


html, body, .root{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  body{
      background: $main-blue;
  }
  
  .App{
      background: white;
      margin: 2% 2%;
      border-radius: $border-radius-md;
      display:block;
      min-height: 700px;
      
  }
  
