.submit-btn{
    margin-top: 1rem;
    width: 100%;
}
.reset-password-btn{
    width: 60%;
    margin: 0 20%;
    border-radius: 20rem;
    font-size: 0.6rem;
    margin-top: 1rem;
}

.center{
    text-align: center;
}