.submit-btn{
    margin-top: 1rem;
    width: 100%;
}
.reset-password-btn{
    width: 60%;
    margin: 0 20%;
    border-radius: 20rem;
    font-size: 0.6rem;
    margin-top: 1rem;
}

.center{
    text-align: center;
}

.registration-confirmation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fas{
        font-size: 3rem;
        color: orange;
    }
    h2::after{
        margin-top: 0.5rem;
        display: block;
        content: "";
        border: 1px solid black;
    }
    p{
        // text-align: center;
        .email{
            color: rgb(0, 81, 255);
            font-weight: bold;
            font-style: italic;
        }
    }
}