@import "../../../style/globalVariabels.scss";

.user-container {
  .paginated-content-column{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 0.2rem;
    @include breaking-point-2 {
      grid-template-columns: repeat(2, 1fr);
      h2{
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    .user-card-container{
      transition: ease-in-out all 0.2s;
      &:hover{
        background: rgb(199, 199, 199);;
      }
    }

  }
}
