@import "../../../style/globalVariabels.scss";

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 3rem;

    input {
        appearance: none;
        outline: none;
        background-color: none;
        border: 1px solid $main-blue;
    
        // width: 100%;
        display: block;
        box-sizing: border-box;
        border-radius: $border-radius-md 0 0 $border-radius-md;
        color: $main-blue;
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        z-index: 1;
        flex-grow: 1;
        font-size: 15px;
        padding: 7px 11px;

        &::placeholder{
            font-style: italic;
            color: $main-blue-1;
        }
    
        &:focus {
            &::placeholder{
                font-style: italic;
                color: white;
            }
          outline: none;
          background: $main-blue;
          color: white;
        }
    
      }
    
      .search-btn{
          background: $main-blue;
          border-radius:  0 $border-radius-md $border-radius-md 0;
          font-size: 15px;
          padding: 7px 11px;
          color: white;
          cursor: pointer;
          border: 1px solid $main-blue;
       
      }
    
    //   .input-md {
    //     margin-top: 1rem;
    //     height: 3rem;
    //     input {
    //       font-size: 15px;
    //       padding: 7px 11px;
    //     }
        
    //   }
      
    //   .input-sm {
    //     height: 2.5rem;
    //     margin-top: 0.8rem;
    //     input {
    //       font-size: 13px;
    //       padding: 5px 9px;
    //     }
       
    //   }
    
}
