@import "../../style/globalVariabels.scss";

.flash-message-container{
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    left: 0;
    position: absolute;
    


    .flash-message{
        position: absolute;
        z-index: 1002;
        background-color: white;
        height: 100%;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445);
        padding: 0.5rem;
        box-sizing: border-box;
        transition: all 0.3s ease-out;
        border-radius: 0;
        top: 0;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 15rem;
        height: auto;
        
        position: fixed;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: $border-radius-md;
        top: auto;

        .content{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            i{
                margin: 0 1rem;
                font-size: 1.2rem;
            }
            .text{
                text-align: center;
                width: 100%;
            }
        }
      
        @include mobile {
            min-width: 30rem;
         
        }
   
      
        .close-btn{
          align-self: flex-end;
          cursor: pointer;
          font-size: 0.7rem;

        }

        &.error{
            background: rgb(255, 211, 211);
            border: rgb(90, 20, 20);
            color:  rgb(90, 20, 20);
        }

        &.warning{
            background: rgb(254, 255, 211);
            border: rgb(90, 66, 20);
            color:  rgb(90, 66, 20);
        }
        
        &.success{
            background: rgb(211, 231, 255);
            border: rgb(20, 46, 90);
            color:  rgb(20, 46, 90);
        }
      
     
        @keyframes open-flash-message-animation{
            0%{
                opacity: 0;
                transform: translateY(-100%);
            }
            50%{
                opacity: 1;
                transform: translateY(6%);
            }
            100%{
                opacity: 1;
                transform: translateY(0);
            }
        }
        &.flash-message-open{
            animation: open-flash-message-animation 0.4s ease-out forwards;
        }
    }
   

}