.settings-container{
    margin: 0 auto;
    max-width: 31rem;
    .header-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
    }
}