@import "../../style/globalVariabels.scss";

$event-col: 2;


.profile-container {
  max-width: 80rem;
  justify-self: center;
  width: 80%;
  margin: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;

  .friends-btn{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px solid rgb(160, 160, 160);
      color: rgb(41, 41, 41);
      &:hover{
        color: black;
      }
    }
    @keyframes notification-main{
      0%{
        background: $main-blue;
        box-shadow: 0 0 3px 2px rgb(59, 144, 255);
      }
      50%{
        background: rgb(59, 144, 255);
        box-shadow: 0 0 5px 2px rgb(59, 144, 255);
      }
      100%{
        background: $main-blue;
        box-shadow: 0 0 3px 2px rgb(59, 144, 255);
      }
    }

    .red-marker{
      display: flex;
      width: 0.6rem;
      height: 0.6rem;
      margin-left: 0.4rem;
      background: $main-blue;
      box-shadow: 0 0 3px 2px rgb(59, 144, 255);
      border-radius: 10rem;
      transition: 0.3s all ease-in-out;
      animation: notification-main 2s ease-out infinite;
    }
  }

.profile-card {
  display: grid;
  grid-template-columns: 1fr;
  

  @include breaking-point-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .avatar-section {

    .avatar {
      width: 10rem;
      height: 10rem;
      @include breaking-point-1 {
        width: 12rem;
        height: 12rem;
      }
    }
    .username {
      grid-column-start: 1;
      grid-column-end: 3;
      font-weight: bold;
      text-align: end;
      display: flex;
      justify-content: center;
    }

    .edit-btn {
      margin-top: -3.5rem;
      margin-left: 7rem;
      margin-bottom: 3rem;
      
       button {
        background: rgba(255, 255, 255, 0.377);
        padding: 0.2rem;
        border-radius: 10rem;
        cursor: pointer;
        color: black;
        transition: 0.3s all;
        &:hover{
         color: white;
         background: rgba(27, 27, 27, 0.377);
        }
      }
    }
    .logout {
      margin-top: 0.5rem;
    }
  }

  .information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
  
    @include breaking-point-1 {
      margin: 0;
    }
    i {
      margin-right: 0.5rem;
    }

    h3 {
      margin: 0;
      width: 100%;
    }
    .text-input {
      width: 100%;
    }
    .settings {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      & > .edit-btn {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      & > .cancel-btn {
        transition: color 0.2s, background 0.2s;
        border-radius: $border-radius-sm 0 0 $border-radius-sm;
      }
      & > .confirm-btn {
        transition: color 0.2s, background 0.2s;
        border-radius: 0 $border-radius-sm $border-radius-sm 0;
      }
    }
  }
}

.event-section {
  display: grid;
  grid-template-columns: 1fr;

  @include breaking-point-1 {
    grid-template-columns: repeat($event-col, 1fr);
  }
}


}
