@import "../../style/globalVariabels.scss";

.icon-span {
  grid-column-start: 1;
  grid-column-end: 3;
}

.information-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 20rem;
  margin: 2rem auto;

  @include breaking-point-1 {
    align-items: flex-start;
    margin-top: 0;
    margin: 0;
  }
  i {
    margin-right: 0.5rem;
  }
  .textInput {
    width: 100%;
  }
  h3 {
    margin: 0;
    width: 100%;
  }
}

.profileRootContainer {
  margin: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.username {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: bold;
  text-align: end;
  display: flex;
  justify-content: center;
}

img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 70rem;
  @include breaking-point-1 {
    width: 12rem;
    height: 12rem;
  }
}

.ProfileCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  margin-bottom: 3rem;
  @include breaking-point-1 {
    grid-template-columns: 1fr 1fr;
  }
}

.Avatar-section {
  justify-self: center;
  display: flex;
  flex-direction: column;
  @include breaking-point-1 {
    justify-self: flex-end;
  }
  & > .editBtn {
    margin-top: -2.5rem;
    margin-right: 1.75rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    & > button {
      background: rgba(255, 255, 255, 0.377);
      padding: 0.2rem;
      border-radius: 10rem;
    }
  }
  .btn-orangeGradient {
    margin-top: 0.5rem;
  }
}

.event-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  height: 100%;
  max-width: 1000px;

  @include breaking-point-1 {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }
}

.events {
  height: 100%;
  & > a {
    width: 100rem;
  }
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  & > .edit-btn {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  & > .cancel-btn {
    border-radius: $border-radius-sm 0 0 $border-radius-sm;
  }
  & > .confirm-btn {
    border-radius: 0 $border-radius-sm $border-radius-sm 0;
  }
}
