@import "../../globalStyles/globalVariabels.scss";

.ModalContainer {
  width: 95%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: -6rem;
}

.Modal {
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 30rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
  padding: 2rem 3rem;
  position: fixed;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: $border-radius-lg;
}
