@import "../../../style/globalVariabels.scss";

%transition {
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

.textInput {
  position: relative;
  padding: 5px 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  label {
    @extend %transition;
    transform-origin: left center;

    font-weight: 100;
    letter-spacing: 0.01em;
    box-sizing: border-box;
    color: $grey-6;
    display: block;
    position: absolute;
    margin-top: -38px;
    z-index: 2;
    pointer-events: none;
  }
  input {
    @extend %transition;
    margin-top: 0.7rem;
    appearance: none;
    outline: none;
    background-color: none;
    border: 1px solid $grey-6;
    // line-height: 0;

    width: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: $border-radius-md;
    color: $grey-6;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
      background: $grey-6;
      color: black;
    }

    &:focus ~ label {
      @include translate(0, -25px);
    }

    &:valid ~ label {
      text-transform: uppercase;
      font-style: italic;
      @include transform(translate(5px, -25px) scale(0.6));
    }
    &:disabled {
      background: rgb(245, 245, 245);
      & ~ label {
        @include transform(translate(5px, -22px) scale(0.6));
        text-transform: uppercase;
        font-style: italic;
      }
    }
  }
}

.input-md {
  input {
    font-size: 15px;
    padding: 7px 11px;
    &:focus ~ label {
      @include translate(0, -25px);
    }

    &:valid ~ label {
      @include transform(translate(5px, -25px) scale(0.6));
    }
    &:disabled ~ label {
      @include transform(translate(5px, -25px) scale(0.6));
      text-transform: uppercase;
      font-style: italic;
    }
  }
  label {
    font-size: 17px;
    padding: 10px 15px;
  }
}

.input-sm {
  input {
    font-size: 13px;
    padding: 5px 9px;
    &:focus ~ label {
      @include translate(0, -23px);
    }

    &:valid ~ label {
      @include transform(translate(5px, -23px) scale(0.6));
    }
    &:disabled ~ label {
      @include transform(translate(5px, -23px) scale(0.6));
      text-transform: uppercase;
      font-style: italic;
    }
  }
  label {
    padding: 15px 13px;
    font-size: 15px;
  }
}

.input-blue {
  label {
    color: $main-blue;
  }
  input {
    border-color: $main-blue;
    color: $main-blue;
    &:focus {
      background: $main-blue;
      color: white;
    }
  }
}
.input-red {
  label {
    color: $main-orange;
  }
  input {
    border-color: $main-orange;
    color: $main-orange;
    &:focus {
      background: $main-orange;
      color: white;
    }
  }
}
