$main-blue: #065cf7;
$main-orange: #fd9f25;
$dark-blue: #1f2638;
$grey-1: #dfdfdf;
$grey-2: #c4c4c4;
$grey-3: #909090;
$grey-4: #d2d9df;
$grey-5: #b8beca;
$grey-6: #82888f;
$blue-gradient: linear-gradient(
    280.32deg,
    #06ccf7 -15.08%,
    rgba(255, 255, 255, 0) 113.02%
  ),
  #065cf7;
$orange-gradient: linear-gradient(278.08deg, #fde725 0.06%, #fd9f25 97.22%),
  #fd9f25;

$border-radius-sm: 5px;
$border-radius-md: 15px;
$border-radius-lg: 35px;

@mixin mobile {
  @media (min-width: #{520px}) {
    @content;
  }
}

@mixin breaking-point-1 {
  @media (min-width: #{760px}) {
    @content;
  }
}
@mixin breaking-point-2 {
  @media (min-width: #{1063px}) {
    @content;
  }
}
@mixin breaking-point-3 {
  @media (min-width: #{1600px}) {
    @content;
  }
}
