.Create-Event-Container{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
    h2{
        text-align: center;
    }
    .event-privacy-radio{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h3{
            justify-self: center    ;
        }
   
    }
    .create-event-controll-btns{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;   
        margin-top: auto;    
    }
}