@import "../../style/globalVariabels.scss";

.HomeLayout {
  text-align: center;
  display: flex;
  flex-direction: column;

  height: 100%;

  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;

    @include breaking-point-2 {
      grid-template-columns: 1fr 1fr;
    }
  }

  & > a {
    grid-column-start: 1;
    grid-column-end: 3;
    text-decoration: none;
    & > div {
      display: flex;
      justify-content: space-around;
    }
  }
}
