@import "../../style/globalVariabels.scss";

.HomeLayout {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  @include breaking-point-2 {
    grid-template-columns: 1fr;
  }

  & > a {
    grid-column-start: 1;
    grid-column-end: 3;
    text-decoration: none;
    & > div {
      display: flex;
      justify-content: space-around;
    }
  }
}
