@import '../../../globalStyles/globalVariabels.scss';

.SideBarItem {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: 0.6rem 0;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: $border-radius-lg;
  transition: 0.2s all;
  &:hover {
    background: white;
    color: black;
  }

  i {
    margin-right: 0.4rem;
  }
}

.active {
  background: white;
  color: black;
  border-radius: $border-radius-lg;
}
