@import '../../../globalStyles/globalVariabels.scss';

.SideBarItem {
    color: white;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin: 1rem 0;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    &:hover {
        background: white;
        color: black;
        
        border-radius: $border-radius-md;
    }
}

.active{
    background: white;
    color: black;
    border-radius: $border-radius-md;
}