@import "../../../style/globalVariabels.scss";
%btn {
  cursor: pinter;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.2s all;
  border-width: 0;
  outline: none;
}


.btn-sm {
  padding: 0.4rem 0.8rem;
  font-size: 0.7rem;
  border-radius: $border-radius-sm;
}
.btn-md {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: $border-radius-md;
}
.btn-lg {
  padding: 1rem 1.8rem;
  font-size: 1.4rem;
  border-radius: $border-radius-lg;
}

.btn-blueGradient {
  @extend %btn;
  color: white;
  background: $blue-gradient;
  box-shadow: 0px 0px 5px $main-blue;

  &:hover {
    background: white;
    color: $main-blue;
  }
}

.btn-reverse-blueGradient {
  @extend %btn;
  color: $main-blue;
  background: white;
  &:hover {
    background: $blue-gradient;
    color: white;
    box-shadow: 0px 0px 5px $main-blue;
  }
}

.btn-orangeGradient {
  @extend %btn;
  color: white;
  background: $orange-gradient;
  box-shadow: 0px 0px 5px $main-orange;

  &:hover {
    background: white;
    color: $main-orange;
  }
}

.btn-default {
  @extend %btn;
  color: black;
  background: $grey-2;

  &:hover {
    background: $grey-3;
    color: white;
  }
}

.btn-default-blue {
  @extend %btn;
  color: white;
  background: $blue-gradient;

  &:hover {
    background: $main-blue-1;
    color: $main-blue;
  }
}

.btn-default-orange {
  @extend %btn;
  color: white;
  background: $orange-gradient;

  &:hover {
    background: $main-orange-1;
    color: $main-orange;
  }
}


.btn-secondary-orange{
  @extend %btn;
  background: $grey-2;
  border-radius: 50rem;
  color: rgb(83, 83, 83);
  box-shadow: inset 0 2px 5px #00000052;
  &:hover{
    box-shadow: inset 0 1px 2px #00000052;
    color: orangered;
  }
}
.btn-secondary-orange-active{
  @extend %btn;
  background: $orange-gradient;
  border-radius: 50rem;
  box-shadow: inset 0 2px 5px #fff78dd8;
  color: white;
  box-shadow: 0px 0px 6px $main-orange;
  &:hover{
    box-shadow: inset 0 1px 2px #ffd35acc;
    color: white;
    box-shadow: 0px 0px 2px $main-orange;
  }
}