.MainLayout {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  min-height: 700px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include mobile {
    grid-template-columns: 1fr 4fr 1fr;
  }
  @include breaking-point-2 {
    grid-template-columns: 1fr 5fr 1fr;
  }
  @include breaking-point-3 {
    grid-template-columns: 1fr 7fr 1fr;
  }
}

.FirstLayout {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $dark-blue;
  min-height: 700px;
  border-radius: $border-radius-md;
}

.SignContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 500;
  padding-top: 11rem;
  h1 {
    color: white;
  }
  button {
    margin-top: 1rem;
  }
}
